@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Charis+SIL&family=Forum&family=Lato:wght@300&family=Montserrat:ital,wght@0,200;0,600;1,400&family=Noto+Sans:wght@400;700&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

#header {
  background: url("/img/фон 2.png") no-repeat, BLACK;
}

#slider {
  background: url("/img/фон2 2.png") no-repeat, BLACK;
}

#chef {
  background: url("/img/fon3.png") no-repeat, BLACK;
}

#booked {
  background: url("/img/ресторан.png") no-repeat, BLACK;
}

#footer {
  background: url("/img/fon3.png") no-repeat, BLACK;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#header .header_general {
  display: flex;
  justify-content: start;
  align-items: center;
}
#header .header_general img, #header .header_general a {
  margin: 30px;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
#header #hero .hero h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin: 193px 0 39px 0;
  color: #FFFFFF;
  padding-right: 700px;
}
#header #hero .hero p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 80px;
  color: #FFFFFF;
  padding-right: 800px;
}
#header #hero .hero button {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: 60px 0 0 60px;
  width: 331px;
  height: 41px;
  border: 1px solid #FF9900;
  margin-bottom: 300px;
}
#header #hero .hero .btn2 {
  width: 139px;
  height: 41px;
  background: transparent;
  border-radius: 0 60px 60px 0;
  margin-left: -5px;
}

#slider .container .slider h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin: 0 20px 30px 0;
}
#slider .container .slider h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin: 140px 20px 30px 0;
}
#slider .container .slider_general {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
#slider .container .slider_general .slick-prev {
  width: 100%;
  margin-left: 30px;
  background: url("/img/Arrow 7.svg") no-repeat, 194px 0;
  border: none;
  position: absolute;
  left: 500px;
  height: 100%;
}
#slider .container .slider_general .slick-next {
  width: 100%;
  margin-right: 30px;
  background: url("/img/Arrow 8.png") no-repeat, 194px 0;
  border: none;
  position: absolute;
  left: 800px;
  height: 100%;
  top: -3px;
}
#slider .container .slider_general__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 50px 0 0;
}
#slider .container .slider_general__block .img {
  margin-bottom: -80px;
  position: center;
  z-index: 10;
}
#slider .container .slider_general__block__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 241px;
  height: 267px;
  background: radial-gradient(100% 100% at 0% 0%, rgba(99, 99, 99, 0.58) 0%, rgba(99, 99, 99, 0.58) 100%);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
#slider .container .slider_general__block__block h2 {
  margin: 80px 0 20px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
#slider .container .slider_general__block__block p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}
#slider .container .slider_general__block__block .check_box {
  margin: 25px 0 15px 0;
  display: flex;
  justify-content: center;
}
#slider .container .slider_general__block__block .check_box input {
  border-radius: 50px;
}
#slider .container .slider_general__block__block .price {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 10px 0 20px 0;
  text-align: center;
  color: #FFFFFF;
}
#slider .container .slider_general__block__block .price button {
  color: #FFFFFF;
  border: none;
  width: 83px;
  height: 25px;
  background: #FF9900;
  border-radius: 60px;
}

#chef .container .chef_general {
  display: flex;
  justify-content: center;
  padding-top: 200px;
}
#chef .container .chef_general__title {
  margin: 150px 0 0 100px;
  text-align: left;
}
#chef .container .chef_general h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #FFFFFF;
}
#chef .container .chef_general .img {
  margin: 50px 0 0 50px;
}
#chef .container .chef_general .img img {
  margin: 5px;
}
#chef .container .chef_general p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 40px;
  color: #FFFFFF;
}
#chef #booked {
  margin: 100px 0 0 400px;
}
#chef #booked .booked_general {
  padding-top: 50px;
}
#chef #booked .booked_general h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FF9900;
}
#chef #booked .booked_general__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 25px;
  color: #FF9900;
}
#chef #booked .booked_general__name input {
  width: 343px;
  height: 38px;
  border: 1px solid #FF9900;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  background: transparent;
  color: #5b5a59;
}
#chef #booked .booked_general__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 25px;
  color: #FF9900;
}
#chef #booked .booked_general__date input {
  width: 147px;
  height: 47px;
  border: 1px solid #FF9900;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  background: transparent;
  color: #5b5a59;
}
#chef #booked .booked_general__com {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 25px;
  color: #FF9900;
}
#chef #booked .booked_general__com input {
  width: 343px;
  height: 88px;
  border: 1px solid #FF9900;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  background: transparent;
  color: #5b5a59;
}
#chef #booked .booked_general button {
  width: 250px;
  height: 51px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  background: #FF9900;
  border-radius: 20px;
  margin: 20px 0 0 40px;
}
#chef #reviews {
  padding-top: 150px;
  margin-bottom: 100px;
}
#chef #reviews .reviews_general {
  display: flex;
  justify-content: center;
}
#chef #reviews .reviews_general__title {
  text-align: left;
}
#chef #reviews .reviews_general__title h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
#chef #reviews .reviews_general__title h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
#chef #reviews .reviews_general__title p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 30px 0;
  color: #FFFFFF;
  padding-right: 300px;
}
#chef #reviews .reviews_general__title button {
  width: 270px;
  height: 63px;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  border: 1px solid #FF9900;
  border-radius: 60px;
  background: transparent;
}
#chef #reviews .reviews_general__slider__block {
  width: 500px;
  height: 571px;
  padding: 60px 50px;
  background: radial-gradient(100% 100% at 0% 33.19%, rgba(126, 126, 126, 0.46) 0%, rgba(114, 112, 112, 0.46) 100%);
  backdrop-filter: blur(10px);
  border-radius: 60px;
}
#chef #reviews .reviews_general__slider__block .item {
  display: flex;
  justify-content: center;
}
#chef #reviews .reviews_general__slider__block .item .title {
  margin-left: 20px;
}
#chef #reviews .reviews_general__slider__block .item .title h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
  color: #FFFFFF;
}
#chef #reviews .reviews_general__slider__block .item .title p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 15px 0;
  color: #FFFFFF;
}
#chef #reviews .reviews_general__slider__block .item .title span {
  display: flex;
  justify-content: space-between;
}
#chef #reviews .reviews_general__slider__block .item .title span button, #chef #reviews .reviews_general__slider__block .item .title span h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  background: transparent;
  color: #FFFFFF;
  border: none;
  margin-bottom: 80px;
}
#chef #slider2 .images {
  display: flex;
  justify-content: center;
}
#chef #slider2 .images .slick-prev {
  width: 100%;
  margin-left: 30px;
  background: url("/img/Arrow 7.svg") no-repeat, 194px 0;
  border: none;
  position: absolute;
  left: 500px;
  height: 100%;
}
#chef #slider2 .images .slick-next {
  width: 100%;
  margin-right: 30px;
  background: url("/img/Arrow 8.png") no-repeat, 194px 0;
  border: none;
  position: absolute;
  left: 800px;
  height: 100%;
  top: -3px;
}
#chef #slider2 .images img {
  margin: 100px 20px;
}

#footer .footer_general {
  display: flex;
  justify-content: start;
  align-items: center;
}
#footer .footer_general img, #footer .footer_general a, #footer .footer_general h4 {
  margin: 30px;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
}

/*# sourceMappingURL=style.css.map */
